{% extends 'base.html' %}
{% block title %}
    Log in
{% endblock %}
{% block title_tab %}
    Log in
{% endblock %}
{% block content_tab %}
    <div class="large-offset-3 large-6 columns">
    {% if user.is_authenticated %} You alreary Logged in as {{ user.username }} <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <form action="/account/login/" method="POST">
            {% csrf_token %}
            <label for="username"> Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
                    <button class="btn waves-effect waves-light " type="submit" name="action">Log in
                <i class="material-icons right">send</i>
        </button>
        </form>

    {% endif %}
    <br><a href="{% url 'register' %}">Register</a>
    </div>
{% endblock %}